# Python
backend/venv/
backend/__pycache__/
backend/staticfiles/
backend/media/
**/*.pyc
**/__pycache__/

# Environment files — NEVER push
backend/.env
.env

# SSL Certificate
ca.pem
backend/ca.pem

# React
frontend/node_modules/
frontend/build/
frontend/.env

# VS Code
.vscode/
*.sqlite3
*.log

# Netlify
.netlify